<%- include('components/header.ejs') %>
<body>
    <div class="display">
      <div class="wrapper">
          <h5>Daily Work</h5>
          <div class="task-input">
            <ion-icon name="create-outline"></ion-icon>
            <input type="text" placeholder="Add a New Task + Enter">
          </div>
          <div class="controls">
            <div class="filters">
              <span class="active" id="all">All</span>
              <span id="pending">Pending</span>
              <span id="completed">Completed</span>
            </div>
            <button class="clear-btn">Clear All</button>
          </div>
          <ul class="task-box"></ul>
      </div>
  
      <div class="pro">
        <div class="procontainer">
          <div class="card">
            <button onclick="openpopup(this)" class="proCards">
              <h5>Title</h5>
              due date
            </button>
            <div class="popup">
              <div onclick="closepopup(this)" class="close">X</div>
              <div class="popupcontainer">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Eveniet saepe ut culpa quia non necessitatibus aspernatur quas, 
                nihil nesciunt dignissimos! Deserunt libero inventore corporis 
                voluptatibus mollitia. Debitis incidunt dicta ut.
              </div>
            </div>
          </div>
          <div class="card">
            <button onclick="openpopup(this)" class="proCards">
              <h5>Title</h5>
              due date
            </button>
            <div class="popup">
              <div onclick="closepopup(this)" class="close">X</div>
              <div class="popupcontainer">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Eveniet saepe ut culpa quia non necessitatibus aspernatur quas, 
                nihil nesciunt dignissimos! Deserunt libero inventore corporis 
                voluptatibus mollitia. Debitis incidunt dicta ut.
              </div>
            </div>
          </div>
          
        </div>

       </div>

    </div>

</body>
<%- include('components/footer.ejs') %>

