.add{
    width: 65%;
    position: absolute;
    top:20%;
    left:18%;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 12px;
}
.btn{
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color: aliceblue;
}
form{
    padding: 20px;
}
.datecont{
    display: flex;
    margin-bottom: 20px;
}
.date{
    width: 500px;
}
.addtask{
    cursor: pointer;
    padding: 2px;
    background-color:rgba(84,58,183,1);
    margin-left: 20%;
    width: 10%;
    padding: 3px;
    border-radius: 5px;
    margin-top: 4px;
    color: aliceblue;
}
.form-control{
    margin: 5px;
}
/* .phase{
    background-color: aqua;
} */
/* #form-control{
 width: 60%;
} */